black==24.3.0
build==1.2.1
click==8.1.7
colorama==0.4.6
et-xmlfile==1.1.0
inflect==7.2.0
iniconfig==2.0.0
joblib==1.4.0
more-itertools==10.2.0
mypy==1.9.0
mypy-extensions==1.0.0
nltk==3.8.1
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.4.0
pyproject_hooks==1.0.0
pytest==8.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2023.12.25
Sastrawi==1.0.1
setuptools==69.2.0
six==1.16.0
tqdm==4.66.2
typeguard==4.2.1
typing_extensions==4.11.0
tzdata==2024.1
